//Fonts
$font-fancy: 'Lato', sans-serif;
$font-base: 'Helvetica';

// Colors
$blue:    #9adbe3ff !default;


$primary:       $blue !default;
$warning: #9adbe368;

$success: #e27a62ff;
// 010101ff
$dark: #55555555;




$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;






