.background-home{
    background-image: url('../img/21252.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

<<<<<<< HEAD
.background-login{

    background-image: url('../img/min2.png');
   
    background-size: cover;
    background-repeat: no-repeat;
}
=======

>>>>>>> 0e7774fd130af3a0663a209fd96130e8e8357538

